body {
  font-family: 'Nunito', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

nav ul {
  list-style: none;
  margin-bottom: 0;
}

nav li {
  margin: 0 1.2em;
}

nav a {
  text-decoration: none;
  color: #777;
}

h1 {
  font-size: 3.8em;
  letter-spacing: -2.5px;
}

h2 {
  font-size: 2.6em;
}

.font-size-normal {
  font-size: 1.1em;
}

main {
  background: linear-gradient(170deg, #2196f0 0%,#9b22db 100%)
}

.logo {
  font-size: 1.3em;
  color: #2196f0;
}

.border-link {
  border: 1px solid;
  padding: .7em 2.2em;
  border-radius: 3em;
}

.blue-border {
  border-color: #2196f0;
}

.blue-text {
  color: #2196f0;
}

.bg-orange {
  background-color: #e28117;
}

footer ul {
  list-style: none;
}

footer li {
  width: 50%;
  list-style-position: inside;
  font-weight: bold;
  line-height: 3em;
  font-size: 1.1em;
}

footer li::before {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  padding-right: -2em;
  width: 2em;
  color: #2196f0;
}

footer a,
.copyright p {
  color: #999;
}
