body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    background: rgba(0, 212, 255, 1);
}

* {
    padding: 0;
    margin: 0;
}

header {
    overflow: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #f7faf9;
    margin: 2em 4em;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid #ededed;
    box-shadow: 0 0 20px rgba(0, 0, 0, .18);
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav li {
    font-size: .8em;
    font-weight: 600;
    padding: 0 1.4em 0 1.4em;
    border-right: 1px solid #666666;
}

.last {
    border: none;
}

nav a {
    text-decoration: none;
    color: #666666;
}

nav a i {
    padding-right: 5px;
}

.content {
    margin: 2em 4em;
    /* background: #f7faf9; */
    /* padding: 2em; */
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /* border: 1px solid green; */
    font-family: 'Open Sans', sans-serif;
    /* padding: 1em 0; */
    font-size: .8em;
}

form input,
form select,
form button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background: rgba(255, 255, 255, .8);
    border: none;
    height: 3.2em;
}

form input {
    width: 40%;
    border-right: 1px solid #dddddd;
    padding-left: 1em;
    border-radius: 4px 0 0 4px;
}

form select {
    width: 40%;
    padding-left: 1em;
    border-right: 1px solid #dddddd;
}

form button {
    width: 20%; 
    background: #090979;
    color: white;
    border-radius: 0 4px 4px 0;
}

button i {
    margin-left: 5px;
}

footer ul {
    display: flex;
}