body {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    /* background: rgba(0, 212, 255, 1); */
    background: linear-gradient(170deg, #2196f0 0%,#9b22db 100%)
}

* {
    padding: 0;
    margin: 0;
}

header {
    overflow: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #f7faf9;
    margin: 2em 4em;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid #ededed;
    box-shadow: 0 0 20px rgba(0, 0, 0, .18);
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav li {
    font-size: .8em;
    font-weight: 600;
    padding: 0 1.4em 0 1.4em;
    border-right: 1px solid #666666;
}

.last {
    border: none;
}

nav a {
    text-decoration: none;
    color: #666666;
}

nav i {
    padding-right: 5px;
    color: #090979;
}

.content {
    margin: 2em 4em;
}

.desc {
    text-align: center;
    padding: 4em 0 2em 0;
    font-weight: 600;
    color: white;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
}

form input,
form select,
form button {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    background: rgba(255, 255, 255, .8);
    border: none;
    height: 3.2em;
}

form input {
    width: 40%;
    border-right: 1px solid #dddddd;
    padding-left: 1em;
    border-radius: 4px 0 0 4px;
}

form select {
    width: 40%;
    /* padding-left: 1em; */
    border-right: 1px solid #dddddd;
    display: block;
    /* box-sizing: border-box; */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 1em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

form button {
    width: 20%; 
    background: #090979;
    color: white;
    border-radius: 0 4px 4px 0;
}

button i {
    margin-left: 5px;
}

footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

footer li {
    font-size: .9em;
    width: 45%;
    list-style-position: inside;
    padding-left: 1.3em;
    font-weight: 600;
    line-height: 2.2em;
}

footer li::before {
    content: "\f0a9";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
    color: white;
}

footer a {
    color: #090979;
    color: white;
    text-decoration: none;
    margin-bottom: 1em;
}